h1, h2, h3 {
  font-weight: 600;
}

.callout-tip {
  border-left: 4px solid #007acc;
}

.justify {
  text-align: justify;
}

.publist p {
  margin: 0 0 0.3em 0;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.callout-confidential .callout-icon,
.callout-resource .callout-icon {
  font-style: normal !important;
}

