name: Update reports (monthly)

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pyyaml pandas matplotlib PyGithub

      - name: Update papers / reports
        env:
          GITHUB_TOKEN: ${{ secrets.LABOT_PAT_TOKEN }}
        run: |
          python src/research_statistics.py

      - name: Create/Update monthly reminder issue
        env:
          GITHUB_TOKEN: ${{ secrets.LABOT_PAT_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          python src/monthly_handbook_update_issue.py

      - name: Commit and Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.LABOT_PAT_TOKEN }}
        run: |
          git config --global user.email "digital-work-labot@users.noreply.github.com"
          git config --global user.name "digital-work-labot"
          if [[ -n "$(git status --porcelain)" ]]; then
            git add .
            git commit -m "Update reports (monthly)"
            git push
          else
            echo "No changes to commit"
          fi
